@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

html {
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  @include flexCenter(column);
}

button {
  cursor: pointer;
  border: 1px dotted;
  background-color: rgb(1, 1, 1);
  color: whitesmoke
}

button:hover {
  opacity: 50%
}

// buttons
.default-button {
  border-radius: 5%;
  color: rgb(6, 6, 6);
  padding: 1.1em;
  font-weight: bold;
}

.Nav {
  background-color: rgb(8, 10, 40);
  width: 100vw;
  height: 2em;
  text-align: center;
  left: 0;
  position: fixed;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
  // background-color: rgb(75, 80, 151);
}

.Nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
}

.nav-title {
  float: left;
  top: 0;
  margin-left: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  cursor: default;
}

.Navbar-link {
  margin-right: 2em;
}

// Top header.
.top-header-wrapper {
  @include flexCenter(column);
  width: 80vw;
  margin-top: 5em;
padding: 1em;
background-image: url('../../public/code.png');
background-size: contain;
background-repeat: initial
// background-repeat: repeat-x
}

.top-header-1 {
    @include flexCenter(column);
  height: 2em;
  background-color: azure;
  font-size: 10em;
  letter-spacing: .7em;
  padding: .4em;

}

.top-header-2 {
  @include flexCenter(column);
letter-spacing: .2em;
}

.top-header-3 {
  @include flexCenter(column);
letter-spacing: .2em;
font-size: .2em;
letter-spacing: .1em;

}

// Blogpost preview
.blog {
  color: rgb(31, 31, 31);
  background-color: rgba(206, 206, 11, .4);
  padding: 1em;
  margin: 1em;
  list-style-type: none;
  width: 70vw
} 

.go-to-post {
}

// Pagination
.pagination-wrapper {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  button {
    font-size:1.5em;
    
  }
}

.pagination-number {
  margin-right: .5em;
}

.pagination-selection {
  font-size:1.3em;
}

.left-arrow {
}

.dots {
  font-size:1.8em;
  margin-right: .5em;
  margin-left: .5em;

}

// Blog post page
.blogpost-container {
  @include flexCenter(column);
}

.blog-post {
  @include flexCenter(column);
  margin-top: 4em;
  padding: 2em;
  max-width: 50%;
  background-color: rgba(206, 206, 11, .7);
  font-size: 1.5em;
  letter-spacing: .1em;
  h2 {
    color: rgb(32, 22, 141);
  }
  button {
    padding: .2em;
  }
}

// error

.back {
  margin-top: 1em;
  font-size: 1em;

}

// Smartphones
@media screen and (max-width: 1060px) {
  .Nav {
      top: 0;
      min-width: 100vw;
      width: 94vw;
      min-height: 4vh;
  }

  .Nav-links {
      flex-direction: row;
      margin-top: 0em;

  }

  .nav-item {
      @include flexCenter(column);
      width: 3em;
      height: 2.5em;
      background-color: #040a23;
      margin-top: 0em;
      padding: .4em;
      border-radius: 5%;
  }

  .Nav a {
      text-decoration: none;
      color: rgb(218, 218, 218);
      font-size: 2em;
      margin: 1em;
      border-right: 1px dotted rgb(255, 213, 213);
  }

  .top-header-wrapper {
    margin-top: 6em;
    margin-left: 3em;
  }

  .top-header-1 {
    font-size: 3em
  }

  .blogpost-container {
  }
  
  .blog {
    margin: 0em;
    list-style-type: none;
    width: 90vw;
    margin-right: 2em;
    margin-left: -.5em;
    padding: .5em;
  
  }

  .blog-post {
    font-size: 1.5em;
    max-width: 80%;

  }

  .section {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 90vw;
      margin-left: -.5em;
  }

  .section-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85vw;
  }

  .header-info {
      width: 22em;
      margin-left: -.5em;
  }

  .portrait {
      margin-bottom: 1em;
  }

  .projects-container {
      width: 90vw;
      margin-left: 2em;
      margin-right: 1em;

      button {
          margin-left: -10em;
          margin-top: 18em;
      }
  }

  .project-image {
      height: 20em;
  }


  .project-info {
      max-height: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-left: 1.5em;
  }

  .project-actual-info {
      border-right: none;



  }

  .project-viewcode {
      margin-top: 5%;
      max-width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dotted;
      padding-bottom: 1em;
      text-align: center;


  }

  .project-tech {
      max-height: 5em;
      width: 100%;
      background-color: rgba(85, 65, 104, 0.1);
      margin-top: 0em;

      img {
          margin: 1em;
          width: 2em;
      }
  }
}

@media screen and (min-width: 540px) and (max-width: 1544px) {
  .project-image {
      max-width: 100%;
      height: 25em;
      padding-bottom: 2em;
      padding-top: 2em;

      img {
          height: 20em;

      }
  }
}

.project-actual-info {
  flex-direction: column;
  width: 100%;
  font-size: 1em;
}

@media all and (min-width: 900px) {
  &.nav-item:hover {
      opacity: 0.7;


      cursor: pointer
  }

  .Nav a:hover {
      opacity: 0.9;


  }
}