@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

html {
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  @include flexCenter(column);
}

button {
  cursor: pointer;
  border: 1px dotted;
  background-color: rgb(1, 1, 1);
  color: whitesmoke
}

button:hover {
  opacity: 50%
}

// buttons
.default-button {
  border-radius: 5%;
  color: rgb(6, 6, 6);
  padding: 1.1em;
  font-weight: bold;
}

.Nav {
  background-color: rgb(8, 10, 40);
  width: 100vw;
  height: 2em;
  text-align: center;
  left: 0;
  position: fixed;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
  // background-color: rgb(75, 80, 151);
}

.Nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
}

.nav-title {
  float: left;
  top: 0;
  margin-left: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  cursor: default;
}

.Navbar-link {
  margin-right: 2em;
}

// Top header.
.top-header-wrapper {
  margin-top: 5em;
padding: 1em;
background-image: url('../../public/code.png');
background-size: contain;
background-repeat: initial
// background-repeat: repeat-x

}

.top-header-1 {
    @include flexCenter(column);
  height: 2em;
  background-color: azure;
  font-size: 10em;
  letter-spacing: .7em;
  padding: .4em;

}

.top-header-2 {
  @include flexCenter(column);
letter-spacing: .2em;
}

.top-header-3 {
  @include flexCenter(column);
letter-spacing: .2em;
font-size: .2em;
letter-spacing: .1em;

}

// Blogpost preview
.blog {
  color: rgb(31, 31, 31);
  background-color: rgba(206, 206, 11, .4);
  padding: 1em;
  margin: 1em;
  list-style-type: none;
  width: 70vw
} 

.go-to-post {
}

// Pagination
.pagination-wrapper {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  button {
    font-size:1.5em;
    
  }
}

.pagination-number {
  margin-right: .5em;
}

.pagination-selection {
  font-size:1.3em;
}

.left-arrow {
}

.dots {
  font-size:1.8em;
  margin-right: .5em;
  margin-left: .5em;

}

// Blog post page
.blogpost-container {
  @include flexCenter(column);

}

.blog-post {
  @include flexCenter(column);
  margin-top: 4em;
  padding: 2em;
  max-width: 50%;
  background-color: rgba(206, 206, 11, .7);
  font-size: 1.5em;
  letter-spacing: .1em;
  h2 {
    color: rgb(32, 22, 141);
  }
  button {
    padding: .2em;
  }
}

// error

.back {
  margin-top: 1em;
  font-size: 1em;

}