@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 1px dotted;
  background-color: #010101;
  color: whitesmoke;
}

button:hover {
  opacity: 50%;
}

.default-button {
  border-radius: 5%;
  color: #060606;
  padding: 1.1em;
  font-weight: bold;
}

.Nav {
  background-color: #080a28;
  width: 100vw;
  height: 2em;
  text-align: center;
  left: 0;
  position: fixed;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1;
}

.Nav a {
  text-decoration: none;
  color: white;
  font-size: 1.7em;
}

.nav-title {
  float: left;
  top: 0;
  margin-left: 2em;
  color: white;
  font-size: 1.7em;
  cursor: default;
}

.Navbar-link {
  margin-right: 2em;
}

.top-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  margin-left: 5em;
  margin-top: 5em;
  padding: 2em;
  background-image: url("../../public/code.png");
  background-size: contain;
  background-repeat: initial;
}

.top-header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: azure;
  font-size: 8em;
  letter-spacing: .7em;
  padding: .4em;
}

.top-header-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: .2em;
}

.top-header-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
  letter-spacing: .2em;
  font-size: .2em;
  letter-spacing: .1em;
}

.blog {
  color: #1f1f1f;
  background-color: rgba(206, 206, 11, 0.4);
  padding: 1em;
  margin: 1em;
  list-style-type: none;
  width: 70vw;
}

.placeholder {
  color: #1f1f1f;
  padding: 1em;
  margin: 1em;
  list-style-type: none;
  width: 70vw;
  background-color: rgba(255, 255, 35, 0.5);
}

.blogpost {
  padding: .5em;
}

.new {
  padding: .5em;
  background-color: rgba(126, 208, 128, 0.5);
}

.pagination-wrapper {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  max-width: 1em;
}

.pagination-wrapper button {
  font-size: 1em;
}

.pagination-number {
  margin-right: .5em;
}

.pagination-selection {
  font-size: 1.3em;
}

.dots {
  font-size: 1.8em;
  margin-right: .5em;
  margin-left: .5em;
}

.blogpost-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4em;
  padding: 2em;
  max-width: 50%;
  background-color: rgba(206, 206, 11, 0.7);
  font-size: 1.5em;
  letter-spacing: .1em;
}

.blog-post h2 {
  color: #20168d;
}

.blog-post button {
  padding: .2em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4em;
  padding: 4em;
  max-width: 50%;
  background-color: rgba(206, 206, 11, 0.7);
  font-size: 1.5em;
  letter-spacing: .1em;
}

.about h2 {
  color: #20168d;
}

.about button {
  padding: .2em;
}

.back {
  margin-top: 1em;
  font-size: 1em;
}

@media screen and (max-width: 1060px) {
  .Nav {
    top: 0;
    min-width: 100vw;
    width: 94vw;
    min-height: 4vh;
  }
  .Nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0em;
  }
  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1em;
    height: 2.5em;
    background-color: #040a23;
    margin-top: 0em;
    padding: .4em;
    border-radius: 5%;
  }
  .Nav a {
    text-decoration: none;
    color: #dadada;
    font-size: 1.2em;
    margin: 1em;
    border-right: 1px dotted #ffd5d5;
  }
  .wrapper {
    max-width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: -1em;
  }
  .top-header-wrapper {
    width: 85%;
    margin-top: 6em;
    margin-left: -1em;
    height: 10em;
  }
  .top-header-1 {
    font-size: 2em;
    height: 95%;
  }
  .top-header-3 {
    font-size: .4em;
  }
  .blogpost-container {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blogpost-container img {
    max-width: 110%;
  }
  .pagination-wrapper {
    width: 50%;
  }
  .pagination-wrapper button {
    font-size: 1.1em;
    width: 90%;
  }
  .pagination-selection {
    width: 3em;
    font-size: 1em;
  }
  .pagination-number {
    margin-right: .1em;
  }
  .blog {
    margin: 0em;
    list-style-type: none;
    width: 100%;
    margin-top: 1em;
    margin-left: -2.8em;
  }
  .blog-post {
    font-size: 1em;
    max-width: 95vw;
    overflow-x: contain;
  }
  .about {
    font-size: 1em;
  }
  .contact {
    font-size: 1em;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
    margin-left: -.5em;
  }
  .section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85vw;
  }
  .header-info {
    width: 22em;
    margin-left: -.5em;
  }
  .portrait {
    margin-bottom: 1em;
  }
  .projects-container {
    width: 90vw;
    margin-left: 2em;
    margin-right: 1em;
  }
  .projects-container button {
    margin-left: -10em;
    margin-top: 18em;
  }
  .project-image {
    height: 20em;
  }
  .project-info {
    max-height: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-left: 1.5em;
  }
  .project-actual-info {
    border-right: none;
  }
  .project-viewcode {
    margin-top: 5%;
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px dotted;
    padding-bottom: 1em;
    text-align: center;
  }
  .project-tech {
    max-height: 5em;
    width: 100%;
    background-color: rgba(85, 65, 104, 0.1);
    margin-top: 0em;
  }
  .project-tech img {
    margin: 1em;
    width: 2em;
  }
}

@media screen and (min-width: 540px) and (max-width: 1544px) {
  .project-image {
    max-width: 100%;
    height: 25em;
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .project-image img {
    height: 20em;
  }
}

.project-actual-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1em;
}

@media all and (min-width: 900px) {
  .nav-item:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .Nav a:hover {
    opacity: 0.9;
  }
}
/*# sourceMappingURL=App.css.map */